body{
	background-image: url("../imgs/fondo.jpg");
	background-color:#8000ff;
	
}

h1{
	text-align:center;
	color: #ffffff;
}


.botonEntrar {
	text-align: center;
	
}
.botonOpciones {
	text-align: center;
}
.botonCerrar {
	text-align: center;
}

.botonAgregar {
	text-align: center;
	
}

table {
	width:50%;
	text-align:center;
	margin:auto;
	border-collapse: separate;
	background: #000 url("gradient.gif") bottom left repeat-x;
	color: #000000;
}
td, th {
   background: #8000ff;
   color: #000000;
}
